* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
iframe {
    width: 100%;
    max-width: 640px;
    height: 100%;
    background-color: white;
    height: 360px;
    margin: auto !important;
    /* margin-left: 4em; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    background-image: url("http://localhost:3001/api/img/a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* filter: blur(4px); */
}

.glass{
    background-color: rgba(255, 255, 255, .50);
    border: 1px solid white;
    border-radius: .3em;

}


#root {
    display: block;
    /* background: red; */
    /* background-color: rgba(255, 255, 255, .4); */
    /* backdrop-filter: blur(1rem); */
    position: absolute;

    /* top: 0px; */
    min-width: 100%;
    min-height: 100%;
    /* left: 0px; */

    /* z-index: 123; */
}

.form-container{
    display: flex;
    /* background: red; */
    height: 80vh;
}
.select-topic-publish {
    display: flex;
    flex-direction: row-reverse;
}
.form-container > *{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 2em;
    border-radius: .3em;
    background: rgba(255, 255, 255, .80);
}
.your-topics-buttons {
    padding: .5em;
    align-items: center;    
    display: flex;
    flex-direction: column;
}
.your-topics a{
    width: 100%;
}
.your-topics-buttons button{
    padding: .3em;
    background: rgb(134, 154, 211);
    border: none;
    border-radius: .3em;
    width: 100%;
}
nav {
    /* border-radius:0 1em .3em; */
    position: sticky;
    z-index: 222;
    top: 0;
    /* background: rgba(54, 255, 155); */
    background: whitesmoke;
    /* backdrop-filter: blur(2rem); */
    display: flex;
    min-width: 80vh;
    align-items: center;
    justify-content: space-between;
    padding: .3em 2em;
    /* position: relative; */

}
nav img{
    border-radius: 50%;
    border:2px solid rgba(54, 255, 155);
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 2em;
    position: relative;
}
nav a {
    text-decoration: none;    
}
nav .notifications{
    position: relative;
    display: flex;
}
.navbar-bell{
    
}
.notification-badge{
    background: red;
    position: absolute;
    font-size: .7em;
    color: white;
    font-weight: 700;
    text-align: center;
    /* display: flex; */
    left: .5em;
    top: .7em;
    border-radius: 50%;
    padding: .3em;
    height: 16px;
    width: 16px;
}
.notification-list{
    background-color: white;
    height: 400px;
    border-radius: .3em;
    padding: .3em;
    /* position: -webkit-sticky; */
    top: 2em;
    width: 300px;
    position: absolute;
    z-index: 12232;
}
.friend-request{
    height: 3em;
    display: flex;
}
.friend-request img{
    height: 100%;
}
.dropdown{
    height: 2.5em;
    width: 12em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    padding: .1em;
    border-radius: .2em;
    cursor: pointer;
    position: relative;
    /* background: red; */
}
.user-dropdown{
    /* background: pink; */
    display: flex;
    gap: .4em;
}

.dropdown-menu{
    position: absolute;

    z-index: 999;
    background: whitesmoke;
    padding: 1em;
    height:200px;
    width: 100%;    
    top: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    right: 0px;
}   

.dropdown-menu button{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: .4em;
    cursor: pointer;
    /* flex-direction: column; */
}

main {
    width: 100%;
    max-width: 1600px;
    /* border: 1px solid gray;     */
    margin: auto;
    /* background: rgba(255, 255, 255, .4) ; */
    /* opacity: .5; */
}

aside {
    /* position: -webkit-sticky; */
    /* background: #000; */
    height: 80vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* position: -webkit-sticky;
    position: sticky; */
    z-index:1 ;

    top: 4em;
}



.loading {
    margin: auto;
    height: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-bottom: 6px solid black;
    animation: .5s rotation linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* SIDEBAR - MY PROFLE  */
.my-profile {
    /* border: 2px solid salmon;   */
    border-radius: .3em;
    border: solid white 1px;
    background: rgba(255, 255, 255, .50);

}

aside .user-name {
    color: blue;
    font-weight: bold;
    margin-left: 5em;
}

aside .profile-image {
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    width: 50px;
    transform: translate(20px, -30px);
}

aside .user-followers {
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside .user-followers>div {
    text-align: center;
}

.my-profile .banner {
    width: 100%;
}

.my-profile .user-data {
    padding: .5em;
    height: 100%;
    width: 100%;
}

.my-profile .user-followers {
    position: relative;
    display: flex;
}

.edit-profile-button {
    position: absolute;
    /* color: white; */
    bottom: .5em;
    right: 1em;
    /* background: blue; */
}

.suggested-friends {

    /* border: 1px solid; */
    /* background: blue; */
    display: flex;
    background: rgba(255, 255, 255, .50);
    border: 1px solid white;
    border-radius: .2em;

    flex-direction: column;
    /* gap: .3em; */

}

.suggested-friends .card-header {
    /* background: gray; */
    padding: .3em;
}

.suggested-friends .card-body {
    padding: .5em;
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.suggested-friends button {
    cursor: pointer;
    border: none;
    color: #333;
    padding: .3em;
    border-radius: .3em;
    background: rgb(134, 154, 211);
}

.suggested-friends .danger {
    background: rgb(236, 138, 138);
}

.suggested-friends .card-body>div {
    width: 100%;
    background: rgba(255, 255, 255, .50);
    border-radius: .3em;

    height: 3em;
    /* border: 1px solid gray; */
    padding: .3em;
    display: flex;
    gap: .7em;
}

.suggested-friends img{
    border-radius: 50%;
    border: 2px solid rgba(54, 255, 155);
}

.bold {
    font-weight: 700;
    color: steelblue;
    cursor: pointer;

}



.your-topics{
    display: block;
    /* z-index: -1; */
    position: initial;
}

.your-topics > div {
    border: 1px solid white;
    border-radius: .3em;
    padding: .4em;
    width: 100%;    
    background-color: rgba(255, 255, 255, .50);
}
.your-topics-header{    
}

.your-topics-body{
    padding: .2em;
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.your-topics .topic{
    height: 3.5em;
}

.your-topics .topic-name{
    color: blue;
    font-weight: 600;    
}

.home {
    padding: 1em;
    display: flex;
    gap: 1em;
    justify-content: stretch;
    justify-content: center;
}
.topic{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    /* height: 4em; */
}
.topic img{
    display: block;
    height: 3em;
    width: 3em;
}
.rdw-editor-main{
    padding: 0 1em;
}
.friend-list{
    display: flex;
    flex-direction: column;
    gap:1em;
}

.chat{
    min-width: 40em;
    max-width: 25%;
    position: fixed;
    right: 8%;
    padding: 1em;
    /* width: 2em; */
    bottom: 1em;
    cursor: pointer;
}
.chat-body{
    height: 20em;
    /* background: white; */
    display: flex;
}
.user{
    display: flex;
    gap: 1em;
}
.messages{
    display: flex;
    flex-direction: column;
    align-content: center;

}
.messages-header{
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 1em;
    background: lightcoral;
}

.messages-body{
    height: 75%;
    background: lightgreen;
}
.messages-footer{
    height: 15%;
    padding: .4em;
    justify-content: space-between;
    display: flex;    
    background: lightblue;
}
.messages-footer input{
    width: 80%;
}
.messages button{
    width: 20%;
}
.chat-active{
    background: pink;
}
.chat-friends{
    padding: .3em;
    /* display: flex; */

    background:white;
    /* width: 60%; */
}
.messages{
    background: lightblue;
    width: 70%;
}
/* .chat-body  */

@media (max-width: 600px) {
    aside {
        display: none !important;
    }
    nav .dropdown{
        display: none;
    }
    .post-list-container {
        width: 100% !important;
    }
}